<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
</head>
<body>
<h1>Електронний каталог товарів</h1>
<nav>
    <a href="/categories">Категорії</a> |
    <a href="/products">Товари</a>
</nav>
</body>
</html>
