<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Список категорій</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>Список категорій</h1>

<%- include('partials/categoryTree', { categories }) %>

<a href="/">На головну</a>
</body>
</html>