<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Товари категорії</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>Товари категорії</h1>
<ul>
    <% products.forEach(product => { %>
        <li>
            <strong><%= product.name %></strong> - <%= product.description %> - Ціна: <%= product.price %> грн
        </li>
    <% }); %>
</ul>
<a href="/categories/<%= categoryId %>">Назад до категорії</a> | <a href="/categories">До списку категорій</a> | <a href="/">На головну</a>
</body>
</html>